<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
	<head>
		<meta charset="UTF-8">
		<title>Owners Home Page</title>
	</head>
	<body>
		<h2 th:text="'Owners Home Page'">Owners Index Page</h2>
		<hr>
		<table id="owners" class="table table-striped">
			<thead>
				<tr>
					<td style="width: 150px">Id</td>
					<td style="width: 200px">First Name</td>
					<td style="width: 120px">Last Name</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="owner:${owners}">
					<td th:text="${owner.id}"></td>
					<td th:text="${owner.firstName}"></td>
					<td th:text="${owner.lastName}"></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<a href="/" th:text="'Home'">Index Page</a>
	</body>
</html>