<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
	<head>
		<meta charset="UTF-8">
		<title>Vets Home Page</title>
	</head>
	<body>
		<h2 th:text="'Vets Home Page'">Vets Index Page</h2>
		<table id="vets" class="table table-striped">
			<thead>
				<tr>
					<td>Id</td>
					<td>First Name</td>
					<td>Last Name</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vet:${vets}">
					<td th:text="${vet.id}"></td>
					<td th:text="${vet.firstName}"></td>
					<td th:text="${vet.lastName}"></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<hr>
		<a href="/" th:text="Home">Index Page</a>
	</body>
</html>